<div class="product-reviews">
  <% @comments.each do |comment| %>
    <div class="row">
      <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago " %>
      <br></em></small></p>
      <p><%= "Rating: #{comment.rating}/5 " %><br></p>
      <p><%= comment.body %><br></p>
      <div class="rated" data-score="<%= comment.rating %>"></div> <!--this will dynamically populate the number of stars-->
    </div> <!--row-->
  <% end %>
</div> <!--product reviews-->
