
<p id="notice"><%= notice %></p>

<title>Products</title>
  <div class="container-fluid">
    <div class="carousel-inner">
      <% @products.each do |product| %>
        <div class="carousel-item <%= " active" if product == @products.first %>">
          <%= image_tag(product.image_url, class: "img-fluid") %>
          <div class="carousel-caption d-none d-md-block">
            <h2><%= product.name %></h2>
          </div>
        </div>
      <% end %>
    </div> <!--row-->
  </div> <!--container-->

<br>

<%= link_to 'New Product', new_product_path %>
